<!-- <div class="home text container mt-4 d-flex justify-content-around align-items-center">
  <div class="text-center m-3">
    <h1>Best Seller Products</h1>
  </div>
  <img src="assets/home.png" class=" w-50" alt="iPhone">
</div> -->


  
  <div class="container-fluid pt-3">
      <div class="row removable d-flex justify-content-center ">
          <div class="col-lg-8">
              <div class="row removable">
                  <div class="col-lg-4">
                      <div class="card card-stats">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                                      <h5 class="card-title text-uppercase text-muted mb-0">TOTAL SALES</h5>
                                      <span class="h2 font-weight-bold mb-0">$300.343</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-default">
                                          <i class="fa fa-chart-pie"></i>
                                      </div>
                                  </div>
                              </div>
                              <p class="mt-3 mb-0 text-sm">
                                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>&nbsp;25%</span>
                                  <span class="text-nowrap">VS last month</span>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card card-stats">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                                      <h5 class="card-title text-uppercase text-muted mb-0">EXPENSES</h5>
                                      <span class="h2 font-weight-bold mb-0">$24.200</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-default">
                                          <i class="fa fa-coins"></i>
                                      </div>
                                  </div>
                              </div>
                              <p class="mt-3 mb-0 text-sm">
                                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>&nbsp;12%</span>
                                  <span class="text-nowrap">since last month</span>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card card-stats">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                                      <h5 class="card-title text-uppercase text-muted mb-0">VISITORS</h5>
                                      <span class="h2 font-weight-bold mb-0">1.200.000</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-default">
                                          <i class="fa fa-user"></i>
                                      </div>
                                  </div>
                              </div>
                              <p class="mt-3 mb-0 text-sm">
                                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>&nbsp;40%</span>
                                  <span class="text-nowrap">since last month</span>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
              <div class="card mt-3">
                  <div class="card-header border-0">
                      <div class="row align-items-center">
                          <div class="col">
                              <h3 class="mb-0">Recent Orders</h3>
                          </div>
                          
                      </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col">Product</th>
                                  <th scope="col">date</th>
                                  <th scope="col">category</th>
                                  <th scope="col">status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row" spellcheck="false">Nike Shoes</th>
                                  <td>23.04.2021</td>
                                  <td>Fashion</td>
                                  <td><i class="fas fa-check text-success mr-3"></i>Delivered</td>
                              </tr>
                              <tr>
                                  <th scope="row">Basket Ball</th>
                                  <td>23.02.2021</td>
                                  <td>Sport</td>
                                  <td><i class="fas fa-check mr-3 text-success"></i>Delivered</td>
                              </tr>
                              <tr>
                                  <th scope="row">Gucci Belt</th>
                                  <td>21.04.2021</td>
                                  <td>Fashion</td>
                                  <td><i class="fas fa-ban text-warning mr-3"></i>Canceled</td>
                              </tr>
                              <tr>
                                  <th scope="row">Leather Bracelet</th>
                                  <td>14.05.2021</td>
                                  <td>Fashion</td>
                                  <td><i class="fas fa-question mr-3 text-warning"></i>Unknown</td>
                              </tr>
                              <tr>
                                  <th scope="row">T-shirt</th>
                                  <td>30.04.2021</td>
                                  <td>Fasion</td>
                                  <td><i class="fas fa-check mr-3 text-success"></i>Delivered</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
      